:root {
  /* FONT */
  --font-dm-sans: "DM Sans", sans-serif;

  /* COLORS */
  --text-base-dark: #000000;
  --text-base-light: #ffffff;
  --text-base-darkgray: #121212;
  --text-base-darkgray2: #242424;
  --text-base-lightgray: #b3b3b3;
  --text-sub: #a7a7a7;

  --bg-icon: #131313;
  --bg-arrow-color: rgba(0, 0, 0, 7);
}
